<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014085406195-670put1r1fsk2u0ulgk3l0c0nmd7ubc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014085406195-670put1r1fsk2u0ulgk3l0c0nmd7ubc7</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ucNsPDH2rRXJubcfmOFwEPGP9X0LgDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1014085406195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>test-project-c2280</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-c2280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014085406195:ios:df27752317bc1a8e3a1686</string>
</dict>
</plist>